<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toilter</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/bootstrap.min.css' ) }}">
</head>
<body>
    <h1>Toilter</h1>
    {% if user %}
    <p>Bem-vind ao Toilter, {{ user}}!</p>
    {% else %}
    <p>Bem-vind ao Toilter!</p>
    {% endif %}

    <script scr="{{ url_for('static',
    filename='js/bootstrap.min.js' ) }}">
    </script>
</head>
</body>
</html>